@page "/Cliente" 
@using Data
@using Interfaces
@inject IClienteServicios ClienteServicios

<h3>Clientes</h3>

<EditForm Model="@cliente">

    <table class="table">

        <tr>
            <td>Nombre:</td>
            <td> <input type="text" @bind="cliente.Nombre" /> </td>
        </tr>

        <tr>
            <td>Correo:</td>
            <td> <input type="email" @bind="cliente.Correo" /> </td>
        </tr>

        <tr>
            <td>Telefono:</td>
            <td> <input type="text" @bind="cliente.Telefono" /> </td>
        </tr>

        <tr>
            <td>Fecha:</td>
            <td> <InputDate @bind-Value="cliente.Fecha" /> </td>
        </tr>

        <tr>
            <td>
                <input type="submit" class="btn btn-primary" value="Guardar" @onclick="Guardar"/>
                <input type="button" class="btn btn-secondary" @onclick="Cancelar"/>
            </td>
        </tr>
    </table>

</EditForm>

@code {
    Cliente cliente = new Cliente();
    protected async Task Guardar()
    {
        await ClienteServicios.GuardarCliente(cliente);
    }
    protected void Cancelar()
    {
        
    }

}
